@{
    ViewData["Title"] = "Смачні рецепти";
    var savedData = ViewBag.SavedData as List<string>;
}


<div class="container">
    <div class="block one">
        <img src="/pictures/chef.png" alt="chef icon" class="chef">
        <h1>Смачні рецепти</h1>
    </div>

    <div class="two">
        <div class="menu">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">Головна</a>
                </li>
                <li>
                    <a href="@Url.Action("FirstCourses", "Home")">Перші страви</a>
                </li>
                <li>
                    <a href="@Url.Action("SecondCourses", "Home")">Основні страви</a>
                </li>
                <li>
                    <a href="@Url.Action("SideDishes", "Home")">Гарніри</a>
                </li>
                <li>
                    <a href="@Url.Action("Deserts", "Home")">Десерти</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="block four">
        <h2>Десерти</h2>
    </div>
    <div class="block three">
        <img src="/pictures/cherry_pie.jpg" alt="cooking" class="cooking">
        <img src="/pictures/napoleon.jpg" alt="cooking" class="cooking">
        <img src="/pictures/cheesecake.jpg" alt="cooking" class="cooking">
    </div>
    <div class="block five">
        <p>
            Десерти: Солодкі миті радості
            Десерти — це те, що завершує прийом їжі на позитивній ноті. Вони здатні підняти настрій і залишити після себе приємні спогади. Від ніжних тортів до легких фруктових салатів — варіантів десертів безліч. Давайте розглянемо кілька популярних рецептів, які порадують вас і ваших близьких.

            1. Торт "Наполеон"
            Торт "Наполеон" — це класичний десерт, який вважається одним з найулюбленіших в Україні. Його ніжні шари з листкового тіста, просочені кремом на основі молока та масла, просто тануть у роті. Готуючи "Наполеон", не забувайте дати йому настоятися, щоб шари добре пропиталися кремом — тоді торт буде ще смачнішим.

            2. Пиріжки з вишнею
            Пиріжки з вишнею — це чудове поєднання солодкого та кислого смаку. М’яке тісто, ароматна вишня, посипана цукром, та легка рум'яна скоринка — ці пиріжки ідеальні для чаювання. Готуйте їх як у духовці, так і смажте на сковороді — в обох варіантах вони вийдуть смачними.

            3. Паска
            Паска — це традиційна випічка, яка має неповторний аромат. Здобне тісто з додаванням родзинок, цукатів і горіхів, покрите глазур'ю, створює святкову атмосферу. Паску зазвичай готують заздалегідь, щоб дати їй настоятися, а потім подають на святковий стіл.

            4. Фруктовий салат
            Фруктовий салат — це легкий і свіжий десерт, ідеальний для будь-якої пори року. Використовуйте сезонні фрукти, щоб отримати максимум смаку і аромату. Додайте йогурт або мед для підсолоджування. Цей десерт не тільки смачний, а й корисний, адже багатий на вітаміни.

            5. Чізкейк
            Чізкейк — це ніжний десерт, який поєднує в собі кремовий сир, цукор і підготовлений корж. Готувати чізкейк можна як холодним, так і випеченим, а варіанти начинок варіюються від фруктових до шоколадних. Подавайте чізкейк з ягодами або фруктовим соусом для додаткової смакової нотки.

            Поради для приготування десертів
            Використовуйте якісні інгредієнти: Свіжі фрукти, якісний шоколад і натуральні продукти нададуть вашим десертам неперевершений смак.
            Не бійтеся експериментувати: Додавайте нові інгредієнти, щоб знайти свій улюблений варіант десерту.
            Приділяйте увагу оформленню: Привабливе подання страви завжди підвищує її апетитність. Використовуйте ягоди, посипки та соуси для прикраси.
            Десерти — це не просто солодощі, а можливість порадувати себе та своїх близьких. Сподіваємося, що наші рецепти надихнуть вас на приготування смачних десертів! Смачного!
        </p>
    </div>
    <div class="block six">
        <h1>Смачні рецепти</h1>
        <img src="/pictures/cat_chef.jpg" alt="cat_chef" class="cat_chef">
    </div>
</div>